@page "/CreateRepair"
@inject NavigationManager navMan
@inject HttpClient client

<head>
	<style>
		.resize {
			resize: vertical;
		}
	</style>
</head>


<EditForm Model="@repair">
	<DataAnnotationsValidator />

	<div class="mat-layout-grid">
		<div class="mat-layout-grid-inner">
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
				<h1>Create a new repair</h1>
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<p>
					<h3>Customer data</h3>
					<MatDivider />
				</p>

				<p>
					<MatTextField Label="Name"
								  Outlined="true"
								  @bind-Value="@repair.CustomerName" />
				</p>

				<p>
					<MatTextField Label="Address"
								  Outlined="true"
								  @bind-Value="@repair.CustomerAddress" />
				</p>

				<p>
					<MatTextField Label="Phone Number"
								  Outlined="true"
								  Type="number"
								  @bind-Value="@repair.CustomerPhoneNumber" />
				</p>

				<p>
					<MatCheckbox Label="Going to address"
								 @bind-Value="@repair.GoingToAddress" />
				</p>

				<p>
					<MatTextField Label="Defect by customer"
								  Outlined="true"
								  @bind-Value="@repair.DefectByCustomer" />
				</p>

				<p>
					<MatTextField Label="Add equipment"
								  Outlined="true"
								  @bind-Value="@repair.ApplianceEquipment" />
				</p>

				<p>
					<MatTextField 
						Label="Other information"
						Outlined="true"
						@bind-Value="@repair.AdditionalInformation" />
				</p>

				<ValidationSummary />
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
				<p>
					<h3>Unit data</h3>
					<MatDivider />
				</p>

				<p>
					<MatTextField Label="Select brand"
								  Outlined="true"
								  @bind-Value="@repair.ApplianceBrand"/>
				</p>

				<p>
					<MatTextField Label="Select Type" 
								  Outlined="true"
								  @bind-Value="@repair.ApplianceType"/>
				</p>

				<p>
					<MatTextField Label="Model"
								  Outlined="true"
								  @bind-Value="@repair.ApplianceModel" />
				</p>

				<p>
					<MatTextField Label="S/N"
								  Outlined="true"
								  @bind-Value="@repair.ApplianceSerialNumber" />

					<MatTextField Label="Product code/IMEI"
								  Outlined="true"
								  @bind-Value="@repair.ApplianceProductCodeOrImei" />
				</p>

				<p>
					<MatDatePicker Label="Bought at"
								   Outlined="true"
								   @bind-Value="@repair.BoughtAt" />

					<MatTextField Label="WC number"
								  Outlined="true"
								  @bind-Value="@repair.WarrantyCardNumber" />
				</p>

				<p>
					<MatNumericUpDownField Label="Warranty period"
										   Step="12"
										   Type="number"
										   Minimum="0"
										   DecimalPlaces="0"
										   @bind-Value="@repair.WarrantyPeriod" />
				</p>

				<p>
					<MatTextField Label="Dealer/Shop"
								  Outlined="true"
								  @bind-Value="@repair.BoughtFrom" />
				</p>
			</div>

			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
				<MatButton Raised="true" OnClick="UploadRepair" Type="submit">Save</MatButton>
				<MatButton Raised="true" OnClick="ResetForm">Cancel</MatButton>
			</div>
			<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			</div>
		</div>
	</div>

</EditForm>

@code {
	int id = 0;
	AddRepairBindingModel repair = new AddRepairBindingModel();
	RepairService service = new RepairService();

	void UploadRepair() {
		repair.RepairId = service.GetLastId("Value").Result;

		client.PostJsonAsync
			<AddRepairBindingModel>("https://localhost:44355/api/repairs/create-repair", repair);

		navMan.NavigateTo("/");
		StateHasChanged();
	}

	void ResetForm() {

	}
}