@page "/CreateRepair"
@using ERPForServiceActivity.CommonModels.BindingModels.Repairs
@using BlazorInputFile

<EditForm Model="@repair" Context="EditFormContext">
	<DataAnnotationsValidator />
	<DxFormLayout>
		<DxFormLayoutItem Caption="Customer's Name">
			<Template>
				<DxTextBox @bind-Text="@repair.CustomerName" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Customer's Address">
			<Template>
				<DxTextBox @bind-Text="@repair.CustomerAddress" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Customer's phone number">
			<Template>
				<DxTextBox @bind-Text="@repair.CustomerPhoneNumber" />
			</Template>
		</DxFormLayoutItem>

		<div class="text-capitalize display-3">Appliance's data</div>

		<DxFormLayoutItem Caption="Appliance's brand">
			<Template>
				<DxComboBox @bind-SelectedItem="@repair.ApplianceBrand" 
							AllowUserInput="true"
							NullText="Select appliane's brand"
							ListRenderMode="@ListRenderMode.Virtual"/>
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliacne's type">
			<Template>
				<DxComboBox @bind-SelectedItem="@repair.ApplianceType"
							AllowUserInput="true"
							NullText="Select appliane's type"
							ListRenderMode="@ListRenderMode.Virtual"/>
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance' model">
			<Template>
				<DxComboBox @bind-SelectedItem="@repair.ApplianceModel" 
							AllowUserInput="true"
							NullText="Select appliane's model"
							ListRenderMode="@ListRenderMode.Virtual"/>
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's serial number">
			<Template>
				<DxTextBox @bind-Text="@repair.ApplianceSerialNumber" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's warranty card number">
			<Template>
				<!--FINISH IT-->
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's bought date">
			<Template>
				<DxDateEdit @bind-Date="@repair.BoughtAt"/>
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's defect">
			<Template>
				<DxTextBox @bind-Text="@repair.Defect" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's additional information">
			<Template>
				<DxTextBox @bind-Text="@repair.AdditionalInformation" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem Caption="Appliance's photo with model and s/n">
			<Template>
				<InputFile OnChange="CheckForValidSerialNumberAndModel" />
			</Template>
		</DxFormLayoutItem>

		<DxFormLayoutItem>
			<Template>
				<InputFile OnChange="AddAllToModel"/>
			</Template>
		</DxFormLayoutItem>
	</DxFormLayout>
</EditForm>

@code {
	AddRepairBindingModel repair = new AddRepairBindingModel();

	void CheckForValidSerialNumberAndModel(IFileListEntry[] files) {

	}

	void AddAllToModel(IFileListEntry[] files) {

	}
}