@page "/"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using ERPForServiceActivity.CommonModels.BindingModels.Maps
@inject IMapsService service
@inject IRepairService repairService

<MatButton @onclick="@(() => { showCustomerLogin = true; })">
	Customer login
</MatButton>
<MatButton @onclick="@(() => { showPersonalLogin = true; })">
	Services login
</MatButton>

<MatDialog @bind-IsOpen="@showCustomerLogin">
	<MatDialogTitle>
		Check repair status
	</MatDialogTitle>
	<MatDialogContent>
		<MatTextField Label="Customer name"
					  @bind-Value="@name" />

		<MatTextField Label="Reclaim number"
					  @bind-Value="@reclaim" />

		@if(!string.IsNullOrEmpty(result.Status)) {
			<div>
				<h3>Status -> @result.Status</h3>
				<h3>Time -> @result.Time.ToString("dd.MM.yyyy HH:mm:ss")</h3>
			</div>
		}
	</MatDialogContent>
	<MatDialogActions>
		<MatButton @onclick="@(() => {
								   Check(name, reclaim);})">Check</MatButton>

		<MatButton @onclick="@(() => { showCustomerLogin = false; })">Close</MatButton>
	</MatDialogActions>
</MatDialog>

<!--MatDialog @bind-IsOpen="@showPersonalLogin">
	<MatDialogTitle>
		Services login
	</MatDialogTitle>
	<MatDialogContent>
		<MatTextField Label="Username"
					  @bind-Value="@repair.CustomerAddress"/>

		<MatTextField Label="Password"
					  Type="passowrd"
					  @bind-Value="@repair.CustomerName"/>

		<MatTextField Label="Verification code"
					  @bind-Value="@repair.DefectByCustomer"/>
	</MatDialogContent>
	<MatDialogActions>
		<MatButton @onclick=
				   "@(() => { showPersonalLogin = false; })">Login</MatButton>

		<MatButton @onclick=
				   "@(() => { showPersonalLogin = false; })">Cancel</MatButton>
	</MatDialogActions>
</MatDialog-->

@code {
	bool showCustomerLogin = false;
	bool showPersonalLogin = false;

	private string name = string.Empty;
	private string reclaim = string.Empty;
	private StatusResult result = new StatusResult();

	void Check(string name, string reclaim) {
		result = repairService.GetRepairStatus(name, reclaim).Result;
	}
}